<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,height=device-height, initial-scale=1.0" name="viewport">
    <title>Bootstrap Container-sm Demo</title>
    <link href="/static/login/css/login.css" rel="stylesheet">
    <link href="/static/bootstrap/icons/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="login">
    <h1>Docker Copilot</h1>
    <form id="loginForm" method="post">
        <div class="form-group">
            <input class="form-control" id="secretKey" placeholder="" required="required" type="password"/>
            <label class="form-label" for="secretKey">secretKey</label>
            <button aria-label="Submit" class="submit-arrow" type="submit"><i class="bi bi-arrow-right-circle"></i>
            </button>
        </div>
    </form>
    </div>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/login/js/login.js"></script>
</body>
</html>
