<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Bootstrap Container-sm Demo</title>
    <!-- 引入Bootstrap CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/login/css/login.css" rel="stylesheet">
</head>
<body>
<div class="container-lg">
    <div class="row">
        <!-- 左侧框 -->
        <div class="col-md-7 left-box">
        </div>

        <!-- 右侧框 -->
        <div class="col-md-4">
            <div class="right-box">
                <!-- 右侧内容 -->
                <div class="logo">
                    <img alt="logo" class="form-logo" src="/static/asset/Circular-logo.png">
                </div>
                <h1>Docker Copilot</h1>
                <form action="/api/login" method="post">

                    <div class="form-group">
                        <input class="form-control" id="password" name="password" placeholder="" required
                               type="password">
                        <label class="form-label" for="password">secretKey</label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-dark" type="submit">Log in</button>
                    </div>
                </form>
                <div class="hr-text" data-content="onlyLTY"></div>
                <div class="icon-container">
                    <a class="icon-link icon-link-hover" href="https://github.com/onlyLTY/oneKeyUpdate/">
                        <img alt="GitHub" src="/static/asset/github.png">
                    </a>
                    <a class="icon-link icon-link-hover" href="#">
                        <img alt="Ugreen" src="/static/asset/ugreen.png">
                    </a>
                    </div>
                </div>
        </div>
    </div>
</div>

<!-- 引入Bootstrap JS -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
