<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/manager/dockerCopilotLogo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>docker copilot</title>
    <script type="module" crossorigin src="/manager/assets/index-shq_BZ1b.js"></script>
    <link rel="stylesheet" crossorigin href="/manager/assets/index--2ghzEOJ.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
